@import './_vars-font-family.css';

@define-mixin tags {
	font-family: var(--font-family);
	margin-top: 3rem;
	& {
		&:empty {
			display: none;
		}
		span {
			font-size: 1rem;
			letter-spacing: 0.02rem;
			&:not(:first-child) {
				margin-left: 1rem;
			}
			a {
				color: #2196f3;
				&::before {
					content: '#';
				}
			}
		}
	}
}
