@import './_vars-font-family.css';

@define-mixin tags {
	font-family: var(--font-family);
	margin-top: 3rem;
	& {
		&:empty {
			display: none;
		}
		span {
			font-size: 1rem;
			letter-spacing: 0.02rem;
			&:not(:first-child) {
				margin-left: 1rem;
			}
			a {
				display: inline-block;
				padding: 0.5rem 1rem;
				background: #0000004d;
				border-radius: 99px;
				text-decoration: none;
				color: white;
				&::before {
					content: '#';
				}
			}
		}
	}
}
